@import "tailwindcss";
@import "./icons.css";
@import "./home.css";
@import "./about.css";
@import "./exercise.css";
@import "./contact.css";
@import "./blog.css";
@import "./blog-post.css";
@import "./legacy/treatment.css";
@import "./legacy/procedure.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}
